@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

// A ajouter après...
// .avatar {
//     color: red;
// }

// .heading {
//     color: tomato;
//     padding: 3rem 0;
//     text-transform: uppercase;
// }

/* Pour tester */
/* .img {
  background-image: url(./images/images/html-css-javascript.jpg);
} */


// Body for Contact
.bbody {
    background: linear-gradient(130deg, rgba(238, 229, 229, 0.322) 1%, transparent 90%);
    height: 100vh;
}


// Petite animation pour les cases de la page de "Projets"
.projets {
    max-width: 400px;
    // margin: "3rem",
    margin: 5rem auto;
    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}


.inputField, .area {
    background-color: rgba(54, 63, 55, 0.37);
}

.contactez-moi {
    color: tomato;
    text-align: center;
}



